body {
  font-family: $mainFontFamily;
}

h2 {
  color: $mainFontColor;
  text-align: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p {
  line-height: 2;
}