body {
  font-family: $mainFontFamily;
}

h2 {
  color: $mainFontColor;
  text-align: center;
  padding: 20px 0;
  font-size: clamp(1.25rem, 1.0239rem + 1.0638vw, 1.875rem);

}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p {
  line-height: 2;
}