@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin desktop {
    @media (min-width:1001px) {
        @content;
    }
}

@mixin forTablet {
    @media (max-width:1000px) {
        @content;
    }
}

@mixin bigSmartphone {
    @media (max-width:768px) {
        @content;
    }
}

@mixin smallSmartphone {
    @media (max-width:500px) {
        @content;
    }
}