$mainFontFamily: 'Lato',
sans-serif;

$navbarBgColor:#f0efef;
$navbarColor:#3f4042;
$navbarLinksColor:#3757c8;

$driverColor: #f0efef;
$driverElementsColor: #f0efef;

$aboutColor:#3f4042;
$aboutLinksBgColor:#3757c8;
$aboutLinksColor:#f0efef;
$aboutLinksHoverBgColor:#f0efef;
$aboutLinksHoverColor:#3757c8;

$projectsColor:#3f4042;
$projectsLinkColor:#3f4042;
$projectsLinkHoverColor:#3757c8;