$mainFontFamily: 'Lato',
sans-serif;

$mainFontColor:#3f4042;

$navbarBgColor:#f0efef;
$navbarColor:#3f4042;
$navbarLinksColor:#3757c8;
$navbarHamburgerColor:#3f4042;

$driverColor: #f0efef;
$driverElementsColor: #f0efef;
$driverTitleBgColor:#18191c70;

$aboutColor:#3f4042;
$aboutLinksBgColor:#3757c8;
$aboutLinksColor:#f0efef;
$aboutLinksHoverBgColor:#f0efef;
$aboutLinksHoverColor:#3757c8;

$projectsColor:#3f4042;
$projectsDecorLine:#3f4042;
$projectsBgColor:#f0efef;
$projectsButtonColor:#3757c8;
$projectsButtonHoverColor:#3f4042;
$projectsButtonShadow:#18191cc0;
$projectsLinkColor:#f0efef;
$projectsLinkHoverColor:#3757c8;

$education-skillsColor: #3f4042;
$education-skillsIcons: #3757c8;
$education-skillsButtonColor: #f0efef;
$education-skillsButtonBgColor: #3f4042;
$education-skillsButtonHoverColor: #3f4042;
$education-skillsButtonHoverBgColor: #f0efef;

$contactColor: #3f4042;
$contactIcons: #3757c8;
$contactBgColor:#f0efef;

$copyrightsColor: #3f4042;