.driver {
  background-image: url(/assets/img/bg-driver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__name {
    color: $driverColor;
    font-size: clamp(1.875rem, 1.4229rem + 2.1277vw, 3.125rem);
  }

  &__position {
    color: $driverColor;
    font-size: clamp(1.25rem, 0.9109rem + 1.5957vw, 2.1875rem);
  }

  &__image {
    width: 150px;
    height: 150px;

    img {
      width: 100%;
      border-radius: 50%;
      border: 5px solid $driverElementsColor;
    }
  }
}