.projects-main {
  background-color: $projectsBgColor;
}

.projects {

  &__section {
    display: flex;
    color: $projectsColor;
    margin: 20px 0 0 0;
  }

  &__section:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  &__img {
    width: 50%;
  }

  &__text {
    width: 50%;
    padding: 0 20px;
    position: relative;
    text-align: center;

    h5 {
      font-size: 20px;
      text-transform: uppercase;
      position: relative;
      text-align: center;
    }

    h5::after {
      content: "";
      display: block;
      width: 200px;
      height: 4px;
      background-color: $projectsDecorLine;
      position: absolute;
      top: 30px;
      left: 50%;
      translate: -50%;
    }

    h6 {
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__technologies {
    @include reset-list;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  &__button {
    background-color: $projectsButtonColor;
    border-radius: 5px;
    box-shadow: 5px 5px 5px $projectsButtonShadow;
    line-height: 40px;
    max-width: 200px;
    margin: 10px auto;
  }

  &__link {
    margin: 10px 0 0 0;
    display: block;
    color: $projectsLinkColor;
    text-align: center;
    transition: 300ms;

    &:hover {
      color: $projectsLinkHoverColor;
    }
  }
}