/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  color: #3f4042;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p {
  line-height: 2;
}

.navbar {
  background-color: #f0efef;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
}
.nav__name {
  font-weight: 700;
  width: 40%;
}
.nav__name a {
  color: #3f4042;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.nav__name a:hover {
  color: #3757c8;
}
.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__link {
  color: #3f4042;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.nav__link:hover {
  color: #3757c8;
}

.driver {
  background-image: url(/assets/img/bg-driver.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.driver__name {
  color: #f0efef;
  font-size: 50px;
}
.driver__position {
  color: #f0efef;
  font-size: 35px;
}
.driver__image {
  width: 150px;
  height: 150px;
}
.driver__image img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid #f0efef;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3f4042;
  margin: 50px 0;
}
.about__info {
  width: 50%;
}
.about__info h3 {
  font-size: 40px;
}
.about__info h4 {
  font-size: 20px;
}
.about__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about__link h5 {
  font-size: 20px;
}
.about__link a {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #3757c8;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.about__link a:hover {
  background-color: #f0efef;
}
.about__link a:hover i {
  color: #3757c8;
}
.about__link a i {
  font-size: 30px;
  color: #f0efef;
}

.projects__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3f4042;
  margin: 20px 0 0 0;
}
.projects__section:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projects__img {
  width: 50%;
}
.projects__text {
  width: 50%;
  padding: 0 20px;
}
.projects__text h5 {
  font-size: 20px;
  text-transform: uppercase;
}
.projects__text h6 {
  font-size: 15px;
  text-transform: uppercase;
}
.projects__text:nth-of-type(2) {
  color: red;
}
.projects__technologies {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.projects__icon {
  margin: 10px 0 0 0;
  display: block;
  text-align: center;
}
.projects__link {
  margin: 10px 0 0 0;
  display: block;
  color: #3f4042;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.projects__link:hover {
  color: #3757c8;
}

.edu-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3f4042;
}
.edu-skills__education {
  width: 60%;
}
.edu-skills__education p {
  font-size: 14px;
}
.edu-skills__education-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.edu-skills__education-headline h6 {
  text-transform: uppercase;
  font-size: 16px;
}
.edu-skills__skills {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  row-gap: 40px;
  text-align: center;
}
.edu-skills__skills i {
  font-size: 90px;
  width: 50%;
  color: #3757c8;
}

.contact {
  background-color: #f0efef;
}
.contact__headline {
  padding: 30px 0;
}
.contact__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__section {
  width: 33.3333333333%;
  text-align: center;
}
.contact__section i {
  font-size: 40px;
  color: #3757c8;
}
.contact__text {
  font-size: 16px;
  color: #3f4042;
}