.navbar {
  background-color: $navbarBgColor;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: flex;
  line-height: 40px;

  &__name {
    font-weight: 700;
    width: 40%;

    a {
      color: $navbarColor;
      transition: 300ms;

      &:hover {
        color: $navbarLinksColor;
      }

    }

    @include bigSmartphone {
      display: none;
    }
  }

  &__short-name {
    display: none;
    font-weight: 700;
    width: 40%;

    a {
      color: $navbarColor;
      transition: 300ms;

      &:hover {
        color: $navbarLinksColor;
      }

    }

    @include bigSmartphone {
      display: block;
    }
  }

  &__links {
    @include reset-list;
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  &__link {
    color: $navbarColor;
    transition: 300ms;

    &:hover {
      color: $navbarLinksColor;

    }

  }

  &__hamburger {
    width: 40px;
    height: 24px;
    background: none;
    border: 0;
    position: relative;
    display: none;

    @include bigSmartphone {
      display: block;
    }

    span {
      width: 40px;
      height: 4px;
      border-radius: 4px;
      position: absolute;
      background-color: #000;

      &:nth-of-type(1) {
        top: 0;
        left: 0;
      }


      &:nth-of-type(2) {
        left: 0;
        top: 10px;
      }

      &:nth-of-type(3) {
        left: 0;
        top: 20px;
      }
    }

    &--active {
      span {
        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(1) {
          top: 10px;
          rotate: 45deg;
        }

        &:nth-of-type(3) {
          top: 10px;
          rotate: -45deg;
        }
      }
    }
  }
}