.navbar {
  background-color: $navbarBgColor;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav {
  display: flex;
  line-height: 40px;

  &__name {
    font-weight: 700;
    width: 40%;

    a {
      color: $navbarColor;
      transition: 300ms;

      &:hover {
        color: $navbarLinksColor;
      }

    }
  }

  &__links {
    @include reset-list;
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  &__link {
    color: $navbarColor;
    transition: 300ms;

    &:hover {
      color: $navbarLinksColor;

    }

  }

}